* {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Arial';
}

#top,
#menuLeft {
  top: 0;
  position: fixed;
  box-sizing: border-box;
}
#top {
  width: 100%;
  height: 50px;   
  background-color: #46535C;  
  padding-left: 100px;
  padding-top: 10px;
  z-index: 1000;
}
#header {
  color: #BDC3C7;
  font-family: lato,sans-serif;
  text-transform: uppercase;
  font-size:24px;
}
#content {  
  background-color: #F9F9F9;
 padding-top: 70px;
 padding-left: 100px;
 padding-right:10px;
 padding-bottom: 10px;
 
  height: 80%;
  
}

#menuLeft {
  background-color: #38424B;
  width: 70px;
  z-index: 2000;
  height: calc(100%);
  position: fixed;
  box-sizing: border-box;
}


/*************************************/
/*  Menu Items                      */
/***********************************/
	.ulxL li{  
		list-style: none;
		text-decoration: none;
		/*border: 1px solid white;*/
		height: 80px;  
		margin-left: auto;
		margin-right: auto;
		box-sizing:border-box;
	}
		.menu-icon{
			margin-left: auto;
			margin-right: auto;
			margin-left: 15px;
			margin-top: 15px;
			height:50%;
			width: 30%;
			float: left;
			position: relative;
			
		}
		
		.menu-icon:hover {
			cursor: default;
		}
			.hamburger {
				border: 1px solid #F9F9F9;  
				width: 25px;
				height: 0px;
				float: left;
				margin-top: 7px;
				margin-left: 7px;					
			}
		
		.menu-item{
			cursor: default;
			width: 100%;
			margin-top: 14px;
			margin-left: 20px;
		}	
			.icon{
				color: #8E959A;
				font-size: 48px;
			}
			
			.icon:hover{
				color: #F39C12;
			}
			
			.active{
				color: #F39C12;			
			}
		
		
			
				
				/*
				.img-dash{
				background-image: url('./img/dashboard.png');
				background-repeat: no-repeat;
				}
				.img-projects{
				background-image: url('./img/projects.png');
				background-repeat: no-repeat;
				}
				.img-settings{
				background-image: url('./img/settings.png');
				background-repeat: no-repeat;
				}
				
				.img-dash:hover{
				background-image: url('./img/dashboard_active.png');
				background-repeat: no-repeat;
			
				cursor: pointer;
				
				}
				.img-projects:hover{
				background-image: url('./img/projects_active.png');
				background-repeat: no-repeat;
				background-color: black;
				cursor: pointer;
				}
				.img-settings:hover{
				background-image: url('./img/settings_active.png');
				background-repeat: no-repeat;
				background-color: black;
				cursor: pointer;
*/				
		}
				