
#logo-container {
    height: 57px;
    margin-bottom: 32px;
}

nav.top-nav {
    height: 122px;
    box-shadow: none;
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}

a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 32px;
    z-index: 2;
}

a.button-collapse.top-nav.full {
    line-height: 122px;
}


header, main, footer {
    padding-left: 240px; }

.side-nav {
    position: fixed;
    width: 240px;
    left: -105%;
    top: 0;
    margin: 0;
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: left; }
.side-nav.right-aligned {
    will-change: right;
    right: -105%;
    left: auto; }
.side-nav .collapsible {
    margin: 0; }
.side-nav li {
    float: none;
    padding: 0 15px; }
.side-nav li:hover, .side-nav li.active {
    background-color: #ddd; }
.side-nav a {
    color: #444;
    display: block;
    font-size: 1rem;
    height: 64px;
    line-height: 64px;
    padding: 0 15px; }

.drag-target {
    height: 100%;
    width: 10px;
    position: fixed;
    top: 0;
    z-index: 998; }

.side-nav.fixed a {
    display: block;
    padding: 0 15px;
    color: #444; }

.side-nav.fixed {
    left: 0;
    position: fixed; }
.side-nav.fixed.right-aligned {
    right: 0;
    left: auto; }

.serviceLogo {
    height: 20px;
}
.instanceType {
    min-width: 60px;
    float: left;
}